@media (max-width: 1050px) {
    section.tabs {
     height: 1000px !important;
     margin: auto !important;
     .tab-layer {
         height: 1000px !important;
         flex-direction: column;
         .tab-buttons {
             flex-direction: row !important;
         }
         .block {
             flex-direction: column;
         }
     }
    } 
 }

@media (max-width: 1000px) {
    section.social {
        .social-media {
            gap: 30px !important;
        }
    }
    section.pricing {
        .pricing-tabs {
            gap: 10px !important;
            .price-tab {
                width: 250px !important;
                .upper {
                    .textone {
                        left: 90px !important;
                    }
                    .texttwo {
                        left: 55px !important;
                    }
                    .textthree {
                        left: 65px !important;
                    }
                }
            }
        }
    }
    header.section-1 {
        height: 1100px !important;
        .headerlayer {
            height: 1100px !important;
            .headcontainer {
                flex-direction: column;
                .rightside {
                    h2 {
                        font-size: 1.1em !important;
                    }
                }
            }
        }
    
        
    }

}

@media (max-width: 800px){
    #burger {
        display: block !important;
    }

    .links {
        position: absolute;
        left: 0;
        top: 70px;
        background: rgba(0, 0, 0, 0.863);
        width: 100%;
        height: 400px;
        align-items: center;
        flex-direction: column;
        gap: 0px;
        transform: translateX(-800px);
        
        opacity: 0;
    }

    .links.translate {
        transform: translateX(0px) !important;
        transition: 0.5s;
        z-index: auto;
        opacity: 1;
    }

    section.pricing {
        height: 2200px !important;
        .pricing-tabs {
           flex-direction: column;
           justify-content: center !important;
           align-items: center !important;
           
           .price-tab {
            width: 300px !important;
            margin-top: 40px;
            .upper {
                .textone {
                    left:110px !important;
                }
                .texttwo {
                    left: 75px !important;
                }
                .textthree {
                    left: 90px !important;
                }
            }
           } 
           
        }
    }
    section.main {
        flex-direction: column;
        justify-content: center !important;
        align-items:  center !important;
        gap: 10px;
        padding-top: 10px;
        height: auto !important;
    }
    section.awesome {
        height: auto !important;
        text-align: center;
        padding-top: 50px !important;
        .fonts {
            flex-direction: column;
            padding-bottom: 20px ;
        }
    }
    section.footer {
        flex-direction: column;
        margin-top: 20px;
        height: 150px !important;
        .footer-text {
            width: auto !important;
            text-align: center;
        }
        .footer-media {
            gap: 30px !important;
            margin-top: 20px;
            padding-bottom: 10px;
        }
    }

}

@media (max-width: 670px) {
    header.section-1 {
        display: flex;
        height: 1200px !important;
        .headerlayer {
            display: flex !important;
            width: 100%;
            height: 1200px !important;
            .headcontainer{
                width: 100% !important;
                .leftside {
                    text-align: center;
                    width: 100% !important;
                    img {
                        margin: auto;
                    }
                    span {
                        margin: auto;
                    }
                    h1 {
                        width: 100% !important;
                        height: auto !important;
                    }
                    p {
                        width: 100% !important;
                        height: auto !important;
                        // padding: 10px;
                    }
                    button {
                        margin: auto;
                    }
                }
                .rightside {
                    width: 300px !important;
                }
            }
        }
    }
    section.social {
        flex-direction: column;
        margin-top: 20px;
        height: 150px !important;
        .social-text {
            width: auto !important;
            text-align: center;
        }
        .social-media {
            margin-top: 20px;
            padding-bottom: 10px;
        }
    }
    
    section.tabs {
        height: 1050px !important;
        background-size: cover !important;
        .tab-layer {
            height: 1050px !important;
            margin: auto !important;
            .tab-buttons{
                margin-top: 30px;
                button {
                    width: 75px !important;
                    height: 75px !important;
                    font-size: 0.8em !important;
                
                }
            }
            .block {
                width: 300px !important;
                .tab-text {
                    width: 300px !important;
                    margin: 0 !important;
                    h1 {
                        font-size: 1.3em !important;
                    }
                }
                .tab-photos {
                    flex-direction: column;
                    align-items: center;
                    width: 300px !important;
                    margin-bottom: 20px ;
                    #downphoto {
                        width: 300px !important;
                    }
                }
            }
        }
    }
}

@media (max-width: 500px) {
    section.main {
        .main-img {
            img{
                width: 300px !important;
                height: 150px !important;
            }
        }
        .main-info {
            h2 {
                width: auto !important;
                font-size: 1.5em !important;
            }
            .title {
                flex-direction: column;
                width: auto ;
                padding-bottom: 20px;
            }
        }
    }
}
@media (max-width: 410px ) {
    section.contact {
        .contact-info {
            width: auto !important;
            padding-bottom: 20px;
        }
    }
    header.section-1 {
        height: auto !important;
        .headerlayer {
            height: auto !important;
            padding-bottom: 20px;
        }
    }
}
